body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;

  color: rgb(48, 43, 43);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;

  color: rgb(48, 43, 43);
}

button {
  cursor: pointer;
}
