.navigation__content {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navigation__content a {
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  border-right: 1px solid rgba(13, 13, 12, 0.13);
}